@use 'variaveis';

.header  {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$cordeFundo;
    transition: background-color .5s ease-out;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease-out;
        

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease-out;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        justify-content: space-between;
        display: flex;  
        
        @media (max-width: 768px){
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease-out;

        @media (max-width: 768px){
            max-width: 64px;
        }
    }

    &__links {
        display: flex;
           
        &__item {
            margin: 5px;
            transition: opacity .5s ease-out;
        }  
    }

    .button {
        height: 50px;
        display: flex;
        align-items: center;

        @media (max-width: 768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 45px;
            letter-spacing: 0;
        }
    }
}